.cart-item {
    border-bottom: 2px solid #29496b;
    padding-bottom: 1rem;
}

.prd-info {
    display: flex;
    flex-direction: column;
    
    text-align: left;
    justify-self: start;
}

.prd-name {
    font-size: 35px;
    margin: 0;
    justify-self: start;
}

.prd-availability {
    font-size: .9rem;
}

.qty-selector {
    display: flex;
}

.qty {
    margin: 0 10px;
}

.remove-btn {
    color: #29496b;
    cursor: pointer;
    font-weight: bold;
    margin-top: .8rem;
    width: fit-content;
}

.price-wrapper {
    display: flex;
    justify-self: end;
    margin-right: 2rem;
}

.price {
    font-weight: bold;
}