.App {
  text-align: center;
}

.cart-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.empty-cart-btn {
  color: #29496b;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .main-wrapper {
    display: flex;
  }
}