*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: inherit;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  background-color: #29496b;
  display: inline-block;
  border: none;
  padding: 0.4rem 1.25rem;
  font-size: 0.55rem;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-btn {
  padding: .2rem;
  display: flex;
  background-color: #29496b;
  box-shadow: unset;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
}

.icon {
  color: #ffffff;
  font-size: 1rem;
}

/* Project CSS */

.total-container {
  margin: auto;
  margin-top: 0;
  padding: 1rem;
}

.cart-section {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-info,
.cart-item {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  grid-template-columns: 1fr 1fr 3fr;
  place-items: center;
}

.prd-name {
  justify-self: flex-start;
  -ms-grid-column-align: start;
  margin-left: 0.4rem;
}

.cart-item .prd-name {
  font-size: 0.65rem;
}

.qty-selector {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  place-items: center;
}

.total-container {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.card {
  padding: 1rem;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  width: 300px;
  gap: 1rem;
}

#total-card {
  border: 2px solid #29496b;
}

#checkout-btn {
  background-color: #29496b;
  color: #ffffff;
}

.card-header,
.card-content {
  text-align: center;
}

.container {
  margin: 1rem auto;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 1.5rem;
}

.img-container {
  height: 75px;
  width: 75px;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

.img {
  border-radius: 5px;
  margin: auto;
  width: auto;
  height: 100%;
}

@media screen and (min-width: 992px) {
  
  .nav {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    height: 5rem;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .cart-container {
    width: fit-content;
    margin: auto;
    padding: 1rem;
  }

  .total-container {
    margin-top: 0;
  }

  .cart-item .prd-name {
    font-size: 1.2rem;
  }

  .img-container {
    height: 100px;
    width: 100px;
  }

  .total-container {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }

.btn-group {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.btn-selector {
  background-color: var(--primary-blue);
  border-bottom: 2px solid transparent;
  color: white;
  padding: 0.6rem 1.3rem;
}

.btn-selector:hover {
  color: var(--dark-text-color);
  background-color: var(--light-blue);
  transform: scale(1.02);
}

.center-item {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}}